html {
display: block;
}

article {
  text-align: center;
  position: fixed;
      top: 50%;
      left: 50%;
      width: 450px;
      height: 450px;
      margin: -225px -225px;
      padding: 0;
}

/** link effects **/
a {
  color: #000000;
}
a:hover {
  color: #474747;
}

a:link
{
  text-decoration: none;
}

/** typography **/
h1, p {
  font-family: 'Cabin', sans-serif;
}

h1 {
  letter-spacing: .15em;
  font-weight: 600;
  font-size: 3.8em;
  color: #7bdf9b;
}

h2 {
font-family: 'Raleway', 'Cabin', sans-serif;
font-weight: 400;
font-size: 2.2em;
color: #404040;
}

p {
padding-top: 4em;
font-weight: 400;
font-size: 0.9em;
}
